
.emptyCartContent{
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
}
.textAdapt{
font-family: system-ui;
font-weight: 500;
font-size: 1.5rem;
}
img.img-fluid.mx-auto.d-block.width-100px {
    max-width: 12rem;
}
/*-----------------------------------------*/
/*cartItem*/
.cartItemContent{
display: flex;
flex-flow: row wrap;
border: 1px solid gray;
padding: 10px;
margin-bottom: 20px;
}
.cartItemImage{
    max-width: 250px;
    border-radius: 15px;
}
.cardItemBody{
   display: flex;
   flex-flow: column wrap;
   justify-content: center;
   margin: 0px 27px;

}
.cardItemText{
    font-family: system-ui;
    font-size: 1.25rem;
    font-weight: 700;
    margin: 5px;
}
.cartItemRemove, .cartClean{
    background: linear-gradient(to right, rgb(214, 218, 15), rgb(240, 88, 0));
    color: rgb(243, 243, 243);
    font-size: 25px;
    font-weight: 700;
    margin: 15px;
    padding: 10px 25px ;
    border:whitesmoke ;
    border-radius: 7.5px ;
    box-shadow: 1px 1px 25px rgba(115, 132, 136, 0.382);
    transition: all 0.3s ease;
    cursor: pointer;
    ;
   
}
/*--------------------------------*/


.cartViewSumery{
    border: 1px solid grey;
    padding: 10px;
    margin-bottom: 20px;
}
.cartViewSumeryHead{
    list-style: none;
    margin: 10px;
}
.cartViewSumeryDetail{
    font-size: 1rem;
    font-weight: 700;
    margin: 10px;
    padding: 5px;
    border: 1px solid rgb(104, 93, 93);
    display: flex;
    justify-content: space-between;
}
.cartViewSumeryTotal{
    list-style: none;
    margin: 10px;
    padding: 5px;
    border: 1px solid rgb(104, 93, 93);
    display: flex;
    justify-content: space-between;
}
.cartClean{
    margin-right: 0px;
    text-decoration: none;
    padding: 10px 15px;
}
.btnAdapt{
    margin-left: 10px;
    padding: 6px 12px;
    font-size: 25px;
}

/*cartViewContent*/
.cartViewContent{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

