.contBtnBack{
    display: flex;
    justify-content: center;
}

.btnBack{
    background: linear-gradient(to right, rgb(214, 218, 15), rgb(240, 88, 0));
    display: inline-block;
    color: rgb(243, 243, 243);
    font-size: 20px;
    font-weight: 700;
    padding: 10px 50px ;
    border:whitesmoke ;
    border-radius: 7.5px ;
    box-shadow: 1px 1px 25px rgba(115, 132, 136, 0.382);
    transition: all 0.3s ease;
    cursor: pointer;
    text-decoration: none;
    margin: 2rem;
    display: inline-block;
    flex-flow: row nowrap;
    justify-content: center;
}
.btnAdd{
    background: linear-gradient(to right, rgb(106, 6, 236), rgb(220, 0, 240));
    display: inline-block;
    color: #fff;
    font-size: 15px;
    font-weight: 700;
    padding: 11px 51px ;
    border:whitesmoke ;
    border-radius: 7.5px ;
    box-shadow: 1px 1px 25px rgba(115, 132, 136, 0.382);
    transition: all 0.3s ease;
    cursor: pointer;
    text-decoration: none;
}