.btnAdd, .btnAddB, .btnAddC, .btnPurchase{
    background: linear-gradient(to right, rgb(106, 6, 236), rgb(220, 0, 240));
    display: inline-block;
    justify-content: center;
    color: #fff;
    font-family: system-ui;
    font-size: 14px;
    font-weight: 600;
    margin: 5px;
    padding: 8px 20px ;
    border:whitesmoke ;
    border-radius: 7.5px ;
    box-shadow: 1px 1px 15px rgba(115, 132, 136, 0.382);
    transition: all 0.3s ease;
    cursor: pointer;
    text-decoration: none;
}
.btnAddB{
    height: 40px;
    margin: 1rem;
    padding: 10px 30px;
    font-family: system-ui;
}
.btnAddC{
    margin: 0px;
    padding: 10px 40px ;
}
.btnPurchase{
    margin: 10px;
    padding: 10px 25px ;
}

.btnBack, .btnBackB, .btnBackC, .btnBackP, .btnClean, .btnRemove{
    background: linear-gradient(to right, rgb(214, 218, 15), rgb(240, 88, 0));
    border:whitesmoke ;
    color: rgb(243, 243, 243);
    font-family: system-ui;
    font-size: 16px;
    font-weight: 700;
    margin: 2rem;
    padding: 10px 15px ;
    border-radius: 7.5px ;
    box-shadow: 1px 1px 15px rgba(115, 132, 136, 0.382);
    display: inline-block;
    flex-flow: row nowrap;
    justify-content: center;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.3s ease;
}
.btnBackB{
    height: 40px;
    margin: 1rem;
    padding: 10px 30px;
    font-family: system-ui; 
    font-size: 1rem;
}
.btnBackC, .btnBackP{
    font-size: 1rem;
    font-weight: 600;
    padding: 8px 25px ;
}

.btnRemove{
    font-size: 16px;
    font-weight: 600;
    padding: 8px 16px ;
}
.btnClean{
    font-size: 14px;
    font-weight: 700;
    margin: 10px;
    padding: 10px 25px ;
}