.cartSet{
    color: rgb(65, 65, 65);
    font-size: 30px;
    transition: all 0.3s ease;
}
.cartSet:hover{
    transform: scale(1.15);
}
@media only screen and (max-width: 500px){
    .cartSet{
        font-size: 20px;
    } 
  
}