@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');


.max-width{
    max-width: 1300px;
    padding: 0 80px;
}
.title{
    font-family: 'Staatliches', cursive;
    font-weight: 500;
    color: #353d45;
    font-size: 35px;
    padding: 20px 0px;
}
.loaderStile{
    height: 20rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
