

.cardStile{
    margin-right: 2rem;
    display: block;
    justify-content: center;
    font-family: "Ubuntu";
}
.cardImage{
    max-height: 275px;
    max-width: auto;
}
.cartRating{
    color: gold;
    font-size: 1.25rem;
}
.cartButton{
    display: flex;
    justify-content: center;
}
.accordion-button{
    padding: 5px;
}
.descripTitle, .titleCardName{
    font-family: 'Staatliches', cursive;
}
.descripCard{
    font-size: 12px;
}