/*css sobre home*/

.error{
    height: 60vh;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: rgb(175, 32, 218);
    background-color: #353d45;
}
.errorText{
    font-size: 50px;
    font-weight: 700;
    font-family: system-ui;
    margin: 0 10rem;

}
