/*css sobre componente navbar*/

.NavBar{
    background: whitesmoke;
    width: 100%;
    padding: 10px 0;
    font-family: 'Ubuntu', sans-serif;
    transition: all 0.3s ease;
}
.max-width{
    max-width: 1300px;
    padding: 0 80px;
    margin: auto;
}
.containerNavbar{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}
.contNavB{
    display: flex;
    flex-flow: row wrap;
    justify-content: start;
    align-items: center;
}
.logo{
    width: 120px;
    transition: all 0.3s ease;
}
.logo:hover{
    transform: scale(1.15);
}
.btnToggle {
    font-size: 1rem;
    padding: 3px;
}
.menu{
    display: flex ;
}
.contMenu{
    list-style: none;
    display: inline-block;
}
.contMenu a{
    list-style: none;
    text-decoration: none;
    color: rgb(207, 173, 19);
    font-size: 20px;
    font-weight: 700;
    margin-top: 10px;
    margin-left: 25px;
    margin-bottom: 0;
    transition: color 0.3s ease;
}
.contMenu a:hover{
    color: rgb(107, 107, 107);
}
/*-----------------------------------------*/
@media only screen and (max-width: 900px){
    .contMenu a{
        font-size: 18px;
        margin-left: 7px;
        margin-bottom: 0;
        transition: color 0.3s ease;
    }
    .logo{
        width: 80px;
        transition: all 0.3s ease;
        margin-right: 1rem;
    }
    .btnToggle{
        padding: 0px;
    }
   
}
@media only screen and (max-width: 500px){
    .contMenu a{
        font-size: 0.9rem;
    }
    .logo{
        width: 60px;
        transition: all 0.3s ease;
        margin-right: 0rem;
    }
    .max-width{
        padding: 0px 40px;
    }
}