/*css sobre componente navbar*/

.NavBar{
    background: rgb(214, 214, 214);
    width: 100%;
    padding: 10px 0;
    font-family: 'Ubuntu', sans-serif;
    transition: all 0.3s ease;
}

.max-width{
    max-width: 1300px;
    padding: 0 80px;
    margin: auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}
.logo{
    width: 75px;
    transition: all 0.3s ease;
}
.logo:hover{
    transform: scale(1.15);
}
.menu{
    display: flex ;
}
.menu li{
    list-style: none;
    display: inline-block;
}
.menu li a{
    text-decoration: none;
    color: white;
    font-size: 18px;
    font-weight: 500;
    margin-left: 25px;
    transition: color 0.3s ease;
}
.NavBar .menu li a:hover{
    color: rgb(207, 173, 19);
}
.cartSet{
    color: rgb(65, 65, 65);
    font-size: 30px;
    transition: all 0.3s ease;
}
.cartSet:hover{
    transform: scale(1.15);
}