/*css sobre componente Footer*/

.footer{
  background-color: whitesmoke;
  padding: 30px 0px;
  color: #353d45;
  font-weight: 600;
  font-family: 'Ubuntu', sans-serif;
}
.containerFooter{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
}
.contentNavBarFooter{
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
}
.navbarFooter{
  color: rgb(207, 173, 19);
  margin: 5px;
  text-decoration: none;
  text-align: start;
  font-size: 1rem;
  transition: all 0.3s easy;
}
.navbarFooter:hover{
  color: rgb(107, 107, 107);
  scale: 1.05;
}
.footer span a{
  font-family:'Oxygen';
  font-weight: 700;
  font-size: 1rem;
  color: rgb(175, 32, 218);
  text-decoration: none;
}
.footer span a:hover{
  text-decoration: underline;
}
.socialMedia{
  padding: 0px 10px 10px;

}
.socialMedia .i{
  font-size: 20px;
  color: #353d45;
  transition: all 0.3s easy;
  padding: 0 5px;
}
.socialMedia .i:hover{
  transform: scale(1.15);
  color:rgb(175, 32, 218);
}
.copyFrase, .socialMedia, .createName{
  display: flex;
  justify-content: end;
}
.createName{
  font-size: 13px;
}
.copyFrase{
  font-size: 10px;
  margin-top: 2.5rem;
}
/*-----------------------------------------*/
@media only screen and (max-width: 450px){
  .navbarFooter{
    font-size: 10px;
  }
  .copyFrase{
    margin-top: 1.25rem;
    font-size: 8px;
  }
  .createName{
    font-size: 10px;
  }

}