/*css sobre componente Footer*/

footer{
  padding: 20px 23px;
  color: #353d45;
  text-align: center;
  font-weight: 600;
  font-family: 'Ubuntu', sans-serif;
}
footer span a{
  font-family:'Oxygen';
  font-weight: 700;
  font-size: 25px;
  color: crimson;
  text-decoration: none;
}
footer span a:hover{
  text-decoration: underline;
}
footer .social{
  padding: 10px 0;

}
footer .social .i{
  font-size: 30px;
  color: #353d45;
  transition: all 0.3s easy;
  padding: 0 5px;
}
footer .social .i:hover{
  transform: scale(1.15);
  color: crimson;
}