/*css sobre home*/

.mainTittle{
    height: 30vh;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    margin: 0 10rem;
    text-align: center;
    font-family:  'Inter', sans-serif;
    font-weight: 700;
    color: #353d45;
    font-size: 25px;
}
