
.counterSelector{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}
.btnCounterA{
    font-size: 2rem;
    margin-right: 20px;
    cursor: pointer;
}
.btnCounterB{
    font-size: 2rem;
    margin-left: 20px ;
    cursor: pointer;
}
.counterBtn{
  text-align: center;
}
