

.counterBtn{
  text-align: center;
}

.counterSelector{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    margin-top: 5px;
}
.btnCounterA{
    margin-right: 20px;
    cursor: pointer;
}
.btnCounterB{
    margin-left: 20px ;
    cursor: pointer;
}
